@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyHotel Booking Management Application</h1>
</div>
<div class="col-md-4">
    <h2> Welcome to the MyHotel Booking Management Application!</h2>
    <p>This is an application for managing bookings for your Hotel, Motel or any other form of accomodation!</p>
</div>